
.button{
  height: 70px;
  width: 70px;
  margin:6px 0px 7px 13px;
  font-size: 30px;
  border-radius: 5px;

  

}
.btnContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 30px;
}