*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    
}
.choice{
    width: 165px;
    height: 165px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;


    
}
.choices{
  display: flex;
    flex-direction: row; 
    margin-left: 20px;
    justify-content: center;
    margin-top: 30px;
    gap: 3rem;
    
}
.choice:hover{
    background-color: black;
}



img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
h1{
    text-align: center;
    background-color:#37353E ;
    color: white;
    height: 80px;
    padding-top: 40px;
    
}
.score-board{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.score{
    margin-right: 80px;
    font-size: 2rem;
}
#comp_score{
    font-size: 2rem;
}
.msg-container{
    font-size: 1.5rem;
    background-color: #222831;
    color: white;
    display: inline-block;
    border-radius: 0.5rem;
    padding: 1rem;
    
}